@import url('./tufte.module.css');

.title {
    @apply my-0
}

@media (prefers-color-scheme: light) {
    #tick-major {
        stroke: black;
    }
    #tick-minor {
        stroke: black;
    }
    #hands-minutes {
        stroke: black;
    }
    #hands-hours {
        fill: black;
    }
    .mapPath  {
        stroke: darkgray;
    }

}

@media (prefers-color-scheme: dark) {
    #tick-major {
        stroke: white;
    }
    #tick-minor {
        stroke: white;
    }
    #hours-path {
        fill: white;
    }
    #minutes-path {
        fill: white;
    }
    .mapPath  {
        stroke: lightgray;
    }
}

.clockContainer {
    @apply w-full
}

.clocks {
    @apply flex flex-row w-full px-8
}

.clock {
    @apply w-24 h-24 flex flex-col justify-center text-center px-16
}

.clock h4 {
    @apply text-center m-0
}

#mapContainer {
    @apply w-full h-full
}

#worldClock {
     @apply absolute flex flex-col justify-center items-center overflow-hidden 
}

@media screen and (max-width: 1400px) {
    #worldClock {
        @apply absolute left-24 top-4 overflow-hidden my-0 py-0
    }
}

body { 
    overflow-x: hidden;
}
.mapPath  {
    opacity: 0.8;
    fill: transparent;
    stroke-width: 0.1;
}