@import url('./tufte.module.css');

.title {
    @apply my-0
}

@media (prefers-color-scheme: light) {
    #tick-major {
        stroke: black;
    }
    #tick-minor {
        stroke: black;
    }
    #hands-minutes {
        stroke: black;
    }
    #hands-hours {
        fill: black;
    }
    .mapPath  {
        stroke: darkgray;
    }

}

@media (prefers-color-scheme: dark) {
    #tick-major {
        stroke: white;
    }
    #tick-minor {
        stroke: white;
    }
    #hours-path {
        fill: white;
    }
    #minutes-path {
        fill: white;
    }
    .mapPath  {
        stroke: lightgray;
    }
}

.clockContainer {
    @apply px-16
}

.clocks {
    @apply flex flex-row w-full justify-center
}

.clock {
    @apply w-20 h-20 flex flex-col justify-center text-center pl-14
}

.clock h4 {
    @apply text-center m-0
}

article {
    overflow-x: hidden;
}
.mapPath  {
    opacity: 0.6;
    fill: transparent;
    stroke-width: 0.1;
}

#worldClock {
    @apply absolute w-[1240px] overflow-x-hidden z-[-999] top-0 left-0 block
    
}
#worldClock svg {
    overflow-x: hidden;
}
@media screen and (max-width: 600px) {
    #worldClock {
        @apply hidden
    }
}


@media screen and (min-width: 1400px) {
    #worldClock {
        @apply absolute top-0 left-1/4
    }
}
