@import url('./tufte.module.css');

.title {
    @apply my-0
}

@media (prefers-color-scheme: light) {
    #tick-major {
        stroke: black;
    }
    #tick-minor {
        stroke: black;
    }
    #hands-minutes {
        stroke: black;
    }
    #hands-hours {
        fill: black;
    }
}

@media (prefers-color-scheme: dark) {
    #tick-major {
        stroke: white;
    }
    #tick-minor {
        stroke: white;
    }
    #hours-path {
        fill: white;
    }
    #minutes-path {
        fill: white;
    }
}

.clock {
    @apply w-24 h-24 inline-block pb-8
}